<%
   title 'Forgot your password?'
   meta_description '...'
   heading 'Forgot your password?'
%>

<div class="row">
  <div class="col-sm-4">
    <%= form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post } do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control', autofocus: true, maxlength: 254,
                          data: {
                              'rule-required' => 'true',
                              'rule-maxlength' => '254'
                          } %>
      </div>
      <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
        Send
      <% end %>
    <% end %>
  </div>
  <div class="col-sm-6 col-sm-offset-2">
    <%= render 'devise/shared/links' %>
  </div>
</div>