<%
   title 'Confirm'
   meta_description '...'
   heading 'Confirm'
%>

<div class="row">
  <div class="col-sm-4">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control', maxlength: 254, autofocus: true,
                          data:          {
                              'rule-required'  => 'true',
                              'rule-maxlength' => '254'
                          } %>
      </div>
      <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
        Send
      <% end %>
    <% end %>
  </div>
  <div class="col-sm-6 col-sm-offset-2">
    <%= render 'devise/shared/links' %>
  </div>
</div>